

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<div class="container" (submit)="onSubmit()">


  <div class="panel panel-default">

		<div class="row header-block">
			<div class="pull-left">

				<img class="logo" src="..//assets\ctl.png"  >

			</div>
			<div class="col-sm-2 pull-right">
				
			</div>
		</div>




		<div class="row container-block" >

			<div class="left-block">
        
        
			</div>

			
	


		<!-- ////////////////////////// -->
		<div class="row container-block" >
			<div class="footer">
			<img src="..//assets\ctl.png" >
			</div>
		</div>


	</div>

</div>

<script>
	$(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip();   
	});
</script>
