<app-main></app-main>

<div class="right-block">
    <div class="main-content">
        <form [formGroup]="logicForm" (submit)="onSubmit()" class="form-inline">
            <div class="card ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-7">

                            <p> {{currentQuestionIndex}}. {{question}} ?</p>

                        </div>



                        <div class="col-sm-5" style="width: 100%;color:red;">
                            &nbsp;
                            <span>{{remainElapsedMin}}:{{remainElapsedSec}}</span>
                        </div>
                    </div>
                    <div class="row">

                        <mat-radio-group class="example-radio-group" formControlName="selectedOption">

                            <mat-radio-button class="example-radio-button"  *ngFor="let option of options"
                                [value]="option">

                                {{option}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>


                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="row">


                        <div class="col-sm-8">
                            <button type="submit" class="btn btn-success" style="width:8%">{{buttonLable}}</button>
                            <br>
                            <br>
                        
                        <!-- <div class="col-sm-8" *ngIf="(k+1)==this.questionService.questions.length">

                               <button type="submit" class="btn btn-success" style="width:8%" [disabled]="logicForm.invalid">SUBMIT</button><br><br>
                                </div>
                             <div class="col-sm-4"></div>
                        </div> -->


                    </div>





                </div>

                </div></div>
        </form>
        </div>

    </div>