<app-main></app-main>

<div class="right-block">
 <div class="main-content">
    
            <form [formGroup]="logicForm"  (submit)="onSubmit()" class="form-inline">
                <div class="card ">
            
                    <div class="card-body" >
                
                
                    
                        
                                   
                                    </div>
                                    </div>
            </form>
                                    </div>
            
                                    </div>
         