.container {
    width: 100% !important;
    margin: 0px;
    padding: 0px;
}
.nav-pills {     padding-top: 95px; }
.nav>li>a, .nav>li>a:focus, .nav>li>a:hover { 
    position: relative;
    display: block;
	color: #ffffff !important;
    padding: 5px 15px;
    width: 100%;
    box-sizing: border-box;	
	border-radius: 0px !important;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover, .nav>li>a:focus, .nav>li>a:hover {
	background-color: #86c440 !important;
	border-left: 5px solid #ffffff;
}
.logo {
	float: left;
    margin: 10px;
}aaaaaaa
.page-title {
	font-size: 26px !important;
	margin: 0px 0px 10px 0px;
}
.container-block {
	margin: 0px;
}
.main-content {
	padding-top: 85px;
}
.header-block {
	position: fixed;
	z-index: 1000;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 85px;
	background: #ffffff;
	border-bottom: 1px solid #e4e4e4;
	margin: 0px;
}
.left-block {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 20%;
	box-sizing: border-box;
    min-height: 500px;
    background: #4c4a4a;	
	padding-top: 10px;	
}
.right-block {
	position: fixed;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 80%;
	box-sizing: border-box;
	padding: 15px;	
	border-left: 1px solid #e4e4e4;
	overflow-y: auto;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background-color: #393c37;
	color: #ffffff !important;
	padding: 11px 40px;
}
.nav-tabs>li>a, .nav-tabs>li>a:hover {
	color: #333333 !important;
	padding: 11px 40px;
}
.nav-tabs>li>a:hover {
	background-color: #393c37;
    color: #ffffff !important;
}
.nav-tabs {
    border-bottom: 1px solid #393c37;
	margin-bottom: 10px;
}
.action-button {
	padding: 6px 30px; 
	border: 1px solid #86c440;	
	color: #86c440;	
	background: none;
	border-radius: 30px;
	margin: 0px 0px 10px 0px;
}
.action-button:hover, .action-button .bg { 
	color: #ffffff;	
	background: #86c440;
}
.table {
	border: 1px solid #e4e4e4;
}
.table>thead>tr>th {
	background: #d5efb9;
}

.panel panel-default>.panel-heading{
	color:#5fda56;
	height:0.2px;
	font-family: verdana;
}
.footer {
   position: right;
	text-align: right;
}

.profile-user { font-size: 18px !important; }
.profile-user .material-icons { font-size: 20px !important; margin-left: 10px; }


.footer {
	position: fixed;
	bottom: 10px;
	right: 10px;
}
.footer img {
	width: 100px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding:4px;
    height:100px;
}
.dropdown{
 
    color: black;
}
.topic{
	width:50%;
}
.form-inline{
    font-size: 150%
}


.example-radio-group {
	display: inline-block;
	flex-direction: column;
	text-align: center;
	margin: 2px;
	font-display: normal;
	font-size: 100%;
  }
  
  .example-radio-button {
	margin: 8px;
	text-align: left;
	font-size: 100%;
	
  }
  
  .example-selected-value {
	margin: 15px 0;
  }
   
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding:4px;
	height:300px;
	width: 1000px;
} 
.mat-radio-group{
	position: absolute;
	display: inline-block;
	text-align: center;
}
