


  <form [formGroup]="loginForm"  (submit)="onSubmit()" class="form-inline">
   
    <div class="center">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
        <br>
        <br>
        <br>
        <br>
        <br>
      <div class="card card-container">
      <br>
      <br>
      <div class= "row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
    <div class="form-group">
         <label  for="name"><h2>Username</h2></label>&nbsp;&nbsp;&nbsp;&nbsp;
      <input class="form-control" formControlName="name" id="name" placeholder=" " required>

      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">

        <div *ngIf="name.errors.required">
          Name is required.
        </div>
      </div>

    </div>
    </div>
    <div class="col-sm-2"></div>
      </div>
    <br>
    <br>

    <div class= "row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
    <div class="form-group">
      
        
       <label for="password"><h2>Password</h2></label>&nbsp;&nbsp;&nbsp;&nbsp;
      <input class="form-control" formControlName="password" id="password" required>

      
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">

        <div *ngIf="password.errors.required">
          password is required.
        </div>
      </div>
</div>
<div class="col-sm-2"></div>
   
    </div>
    </div>

<br>

<div class= "row">
  <div class ="col-sm-2"></div>
    <div class="col-sm-8">

<div class="red">{{validateError}}</div>
</div>
<div class ="col-sm-2"></div>
</div>



<div class= "row">
    <div class="col-sm-4"></div>
    <div class="col-sm-6">
<button type="submit" class="btn btn-success">Login</button>&nbsp;
<button type="reset" class="btn btn-primary " (click)="cancel()">Cancel</button>&nbsp;
</div>
<div class="col-sm-2">

</div>
</div>
    <br>
<br>
<br>
    </div>
    </div>


  </form>
  
